{% extends 'base.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'RS.css' %}">
<h2  class="judul-pendaftar">List Pendaftar SWAB Test</h2>
<div class="table-responsive">
<table class="table tabel">
    <thead style="background-color:  #8BA6B9;">
        <tr style="color: white;">
            <th scope="col">Nama</th>
            <th scope="col">Nomor HP</th>
            <th scope="col">Rumah Sakit</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Jam</th>
            <th scope="col" style="text-align: center;">Bukti Transfer</th>
        </tr>
    </thead>
    {% for hasil in hasilForm %}
    <tbody>
        <tr>
            <td>{{hasil.nama}}</td>
            <td>{{hasil.telp}}</td>
            <td>{{hasil.rumah_sakit}}</td>
            <td>{{hasil.tanggal}}</td>
            <td>{{hasil.jam}}</td>
            <td style="text-align: center;"><a href="{{hasil.Bukti_Transfer.url}}"> {{hasil.Bukti_Transfer}} </a></td>

    </tbody>
    {% endfor %}
</table>
{%endblock%}
</div>