{% extends 'base.html' %}
{% load static %}
{%block content%}
<div class="container" style="width:20%; margin-top: 1rem">
<div class="row justify-content-center">
<div>
<form method="POST" class="post-form; text-center" style="font-size: 20px;" enctype="multipart/form-data">
                  {%for i in form%}
                  {%csrf_token%}
                     <div style="font-size: 20px">{{i.label_tag}}</div>
                      <div id="form-register">{{i}}</div>
                    {%endfor%}
                      <div class="text-center">
                        <br>
                        <button class="btn btn-primary" role="button" type="submit">sign up</button>
                      </div>
                  
                    </form>
                  </div>
</div>
</div>
{% endblock %}